:root {
   --item-max-width: 800px; 
   --gallery-max-width: 1400px;
}

body{
margin: 120px 20px;
}

.title-image{
    display: block;
    margin: 0 auto;
}

.image-container{
position: relative;
text-align: center;
display: block;
}

.image-container h1 {
    color: white;
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 78px;
    left: 0;
    text-shadow: 1px 1px 20px black;
}

.intro-text p {
font-size: 25px;
font-weight: bold;
}


.navigation-links {
    display: flex;
    justify-content: center;
    }

.navigation-links a {
    margin: 20px;
    font-size: 20px;
}

h1, h2, p, a {
    font-family: 'Nunito', sans-serif;
}

.gallery {
max-width: var(--gallery-max-width);
}
 

.gallery-item {
    padding: 20px;
}

h2 {
text-align: center;
}

.gallery-item p{
font-size: 20px;
max-width: var(--item-max-width);
text-align: center;
font-weight: bold;
}

.gallery img{
width: var(--item-max-width);
}

