:root {
   --item-max-width: 800px; 
   --content-container-max-width: 1400px;
   --font-family: 'Nunito', sans-serif;
   --text-default-size: 20px;
}


body{
margin: 120px 20px;
}

.title-image{
    display: block;
    margin: 0 auto;
}



.navigation-link{
    text-align: center;

}

.navigation-link a{
    font-size: var(--text-default-size);
}

h1, h2, p, a, h4, h3 {
    font-family: var(--font-family);
}

h2 {
    text-align: center;
    font-weight: bold;
    }

.content-container {
max-width: var(--content-container-max-width);
padding: 0px;
}
 

.content-container-item {
padding: 20px;
}


.content-container-item p{
font-size: 20px;
max-width: var(--item-max-width);
}

.content-container img{
    width: var(--item-max-width);
    }

.description {
    font-size: var(--text-default-size);
    text-align: center;
}



.hero {
max-width: 960px;
margin: 0 auto 100px;
}


h1{
    font-weight: bold;
    font-size: 72px;
    margin: 0 auto 100px;
}

p {
    font-size: var(--text-default-size);
  }

.hero h2 {
    font-size: 60px;
}

.hero h4{
    font-weight: bold;
    display: inline-block;
}

.favorite-recipe-img {
margin: 0 auto;
display: block;
}

.favorite-recipe {
    font-family: var(--font-family);
    max-width: 1100px;
    margin: 0 auto;
    font-size: var(--text-default-size);
}

.favorite-recipe h3, h4 {
    font-weight: bold;
}

.favorite-recipe h3 {
    font-size: 36px;
    text-align: center;
}

.favorite-recipe p{
    padding: 15px;
}

.icon-link {
    font-size: 25px;
    color: black;
}

.icon-link :hover {
    color: blue;
}

.contact {
    max-width: var(--content-container-max-width);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.contact a {
    font-size: 30px;
}

.contact i {
    font-size: 40px;
}

@media (max-width: 576px) {
    
    .image-container h1{
        font-size: 40px;
        color: black;
        position: relative;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        margin-top: 30px;
    }
    
  .intro-text {
      margin: 0 auto;
      font-size: var(--text-default-size);
  }

    .intro-text, .content-container-item p {
        font-size: 18px;
    }
    
    .content-container-item {
        padding: 10px;
    }

}


.image-container{
    position: relative;
    text-align: center;
    display: block;
    }
    
    .image-container h1 {
        font-weight: normal;
        color: white;
        position: absolute;
        top: 40%;
        right: 0;
        font-size: 78px;
        left: 0;
        text-shadow: 1px 1px 20px black;
    }
    
    .intro-text {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    }