:root {
   --item-max-width: 800px; 
   --content-container-max-width: 1400px;
   --font-family: 'Nunito', sans-serif;
   --text-default-size: 20px;
}


body{
margin: 120px 20px;
font-family: var(--font-family);
}

.title-image{
    display: block;
    margin: 0 auto;
}



.navigation-link{
    text-align: center;

}

.navigation-link a, .footer-mail, .footer a{
    font-size: var(--text-default-size);
    padding: 10px 30px;
    
}

.footer-mail {
    display: block;
    text-align: center;
    font-size: 24px;
    color: black;
}

.footer-mail:hover {
color: #007BFF;
}



h2 {
    text-align: center;
    font-weight: bold;
    }

.content-container {
max-width: var(--content-container-max-width);
padding: 0px;
}
 

.content-container-item {
padding: 20px;
}


.content-container-item p{
font-size: 20px;
max-width: var(--item-max-width);
}

.content-container img{
    width: var(--item-max-width);
    }

.description {
    font-size: var(--text-default-size);
    text-align: center;
}


.hero {
max-width: 960px;
margin: 0 auto 100px;
}


h1{
    font-weight: bold;
    font-size: 72px;
    margin: 0 auto 100px;
}

p {
    font-size: var(--text-default-size);
  }


.favorite-recipe-img {
margin: 0 auto;
display: block;
}

.favorite-recipe {
    font-family: var(--font-family);
    max-width: 1100px;
    margin: 0 auto;
    font-size: var(--text-default-size);
}

.favorite-recipe h3, h4 {
    font-weight: bold;
}


.favorite-recipe p{
    padding: 15px;
}

.icon-link {
    font-size: 25px;
    color: black;
}

.footer {
    max-width: var(--content-container-max-width);
    margin: 0 auto;
    text-align: center;
    padding: 30px 100px;
}


.footer i {
    font-size: 40px;
}

a {
    transition: all 150ms ease-in-out;
}


.image-container{
    position: relative;
    text-align: center;
    display: block;
    }
    
    .image-container h1 {
        font-weight: normal;
        color: white;
        position: absolute;
        top: 40%;
        right: 0;
        font-size: 78px;
        left: 0;
        text-shadow: 1px 1px 20px black;
    }
    
    .intro-text {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    }

    
@media (max-width: 576px) {

    .body {
        margin: 0px;
    }

    h1{
        font-size: 40px;
        margin: 0 auto 50px;
    }


    .footer {
        padding: 30px 0;
    }

    .footer-mail {
        font-size: var(--text-default-size);
    }
    
    .image-container h1{
        font-size: 40px;
        color: black;
        position: relative;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        margin: 30px auto 0;
    }
    
  .intro-text {
      margin: 0 auto;
      font-size: var(--text-default-size);
  }

    .intro-text, .content-container-item p {
        font-size: 18px;
    }
    
    .content-container-item {
        padding: 10px;
    }

}
