:root {
   --item-max-width: 800px; 
   --gallery-max-width: 1400px;
}


body{
margin: 120px 20px;
}

.title-image{
    display: block;
    margin: 0 auto;
}

.image-container{
position: relative;
text-align: center;
display: block;
}

.image-container h1 {
    color: white;
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 78px;
    left: 0;
    text-shadow: 1px 1px 20px black;
}

.intro-text {
font-size: 25px;
font-weight: bold;
margin: 50px;
padding: 20px;
}


.navigation-link{
    text-align: center;

}

.navigation-link a{
    font-size: 20px;
}

h1, h2, p, a {
    font-family: 'Nunito', sans-serif;
}

h2 {
    text-align: center;
    font-weight: bold;
    }

.gallery {
max-width: var(--gallery-max-width);
padding: 0px;
}
 

.gallery-item {
padding: 20px;
}


.gallery-item p{
font-size: 20px;
max-width: var(--item-max-width);
text-align: center;
font-weight: bold;
}

.gallery img{
width: var(--item-max-width);
}



@media (max-width: 576px) {
    
    .image-container h1{
        font-size: 40px;
        color: black;
        position: relative;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        margin-top: 30px;
    }
    
  .intro-text {
      margin: 0 auto;
  }

    .intro-text, .gallery-item p {
        font-size: 16px;
    }
    
    .gallery-item {
        padding: 10px;
    }

}

